<div class="container text-center">
  <input type="text" class="searchTextBox" placeholder="Search By Movie Name...">
  <!-- list is the array of movies and filter is used to search by movie name -->
  <div *ngFor="let l of list ">
    <div class="col-sm-4">
      <span class="releaseDate">Release Date: {{l.releases}</span>
      <img src={{l.image}} class="img-responsive" alt="Image">
      <span><i class="em em-heart"></i></span>
      <span class="movieName"><a>{{l.name}}</a></span><br>
      <span class="light-text">{{l.duration}} | </span>
    </div>
  </div>
</div>
