<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1 class="text-center">Review List</h1>
<table class="content-table">
  <thead>
    <tr>
      <th>Movie Name </th>
      <th class="desc">Reviews History</th>
      <th>Date</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr class="reviewTable">
      <td>part.mname</td>
      <td>part.desc</td>
      <td>part.date</td>
      <td><button class="trash"><i class="fa fa-trash-o"></i></button></td>
    </tr>
    <tr class="reviewTable">
      <td>Captain America</td>
      <td>part.desc</td>
      <td>25-11-2022</td>
      <td><button class="trash"><i class="fa fa-trash-o"></i></button></td>
    </tr>
  </tbody>
</table>