<div class="maindiv">
  <div class="flex">
    <div class="videomiddle">
      <h3> <span class="label label-warning"> movie.movieName Trailer</span></h3>
      <iframe class="video" [src]=""></iframe>
    </div>
    <div class="col-sm-10">
      <div class="card">
        <p class="title">movieName</p>
        <!-- Show movie Data in card -->
        <table class="table">
          <tbody>
            <tr>
              <td><strong><strong>Rating:</strong></strong></td>
              <td> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span></td>
            </tr>
            <tr>
              <td><strong>Length:</strong></td>
              <td>movieLength</td>
            </tr>
            <tr>
              <td><strong>Language:</strong></td>
              <td>language</td>
            </tr>
            <tr>
              <td><strong>Directed By:</strong></td>
              <td>.directorName</td>
            </tr>
            <tr>
              <td><strong>Premiere:</strong></td>
              <td>.movieReleaseDate</td>
            </tr>
            <tr>
              <td><strong>Category:</strong></td>
              <td>movieType</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="date-picker">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" type="button"></button>
              </div>
              <div class="flex">
                <button type="button" class="button btn btn-primary middle">Book Tickets</button>
                <button type="button" class="btn btn-primary middle button">Post Review</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- datepicker -->
  <div class="middlepart">
    <div class="movie-date-selection">
      <!-- display Showtime -->
      <div class="main">
        <div class="location">
          c.name
        </div>

         <div class="time">
          <button type="button" value="ca._id" 
            class="btn1 btn-outline-danger">ca.showTime</button>
        </div> 
      </div>

    

    <!-- list of user reviews -->
    <table class="content-table">
        <thead><tr>
          <th>Movie Name </th>
          <th class="desc">User Reviews </th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
          <tr class="reviewTable">
            <!-- <td>{{parentData}}</td> -->
            <td>part.mname</td>
            <td >part.desc</td>
            <td>part.date</td>
          </tr>
        </tbody>
        </table>
  </div>
</div>
</div>


